/* Bring in Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

:root {
    /*colors from graphic designer*/
    --blueberry: #355170;
    --grape: #6E597A;
    --grapefruit: #E66B70;
    --peach: #eaad8c;
    --light: #fff0e9;
    --off-white: #fffafa;
    --dark: #1b2939;
    --light-text: #ffffff;
    --muted-text: #3b3b3b;
    --dark-text: #111111;
    --shadow: #282828;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

/*
    Global
 */

* {
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

/*HTML ELEMENT STYLING*/
body {
    background-color: var(--off-white);
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grape);
}

header h1 {
    color: var(--grapefruit);
}

figure {
    font-size: 0.9rem;
    font-weight: bold;
}

form {
    background-color: var(--grape);
    color: var(--light-text);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 5rem;
    width: 100vw;
    background-color: var(--blueberry);
    color: var(--light-text);
}

footer svg {
    fill: var(--grapefruit);
    transition: all 300ms ease-in-out;
}

footer svg:hover, svg:focus {
    fill: var(--off-white);
    transform: translateY(-1.5px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crafty Girls', cursive;
    color: var(--dark-text);
    font-weight: 500;
    line-height: 1;
}

p {
    line-height: 1.6;
    font-size: 0.90rem;
    color: var(--muted-text);
    width: 75%;
}

p a {
    line-height: 1.6;
    font-size: 0.90rem;
    color: var(--grapefruit);
    transition: color 250ms ease-in-out;
}

p a:hover {
    color: var(--blueberry);
    text-decoration: none;
}

aside {
    font-size: 1rem;
    color: var(--blueberry);
}

aside svg {
    fill: var(--blueberry);
}

nav {
    background-color: var(--off-white);
    box-shadow: var(--box-shadow);
    margin-bottom: 3rem;
}

.navbar {
    background-color: var(--blueberry);
}

/*SECTION STYLING*/

#img-header {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 30%;
}

#about-me {
    background-color: var(--off-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

#gallery {
    background: var(--blueberry);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#gallery img {
    border-radius: 15px;
    padding: 0.75rem;
    max-width: 100%;
    max-height: 100%;
}

#services {
    background-color: var(--off-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#services-tools img {
    border-radius: 10px;
}

#links-container {
    background-color: var(--blueberry);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#links-container svg {
    fill: white;
    width: 96px;
    height: 96px;
    transition: all ease-in-out 250ms;
}

#ravelry-logo {
    width: 15rem;
    height: auto;
    transition: transform ease-in-out 250ms;
}

#etsy-logo {
    transition: transform ease-in-out 250ms;
}

#etsy-logo:hover, #ravelry-logo:hover, #links-container svg:hover {
    transform: translateY(-1.5px) scale(1.05);
    fill: var(--grapefruit);
}

#links-description {
    color: var(--light-text);
}


/*COMPONENT STYLING*/

#btn-send {
    background-color: var(--grapefruit);
    color: var(--light-text);
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow);
    transition: transform ease-in-out 300ms;
}

#btn-send:hover {
    transform: translateY(-0.15rem);
}

#contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#menu-descriptor {
    color: var(--dark-text);
    margin-left: 10px;
}

.g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
}


/*
    Large Screens
 */
@media screen and (min-width: 900px) {
    #contact {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    #gallery {
        width: 80vw;
        margin-right: auto;
        margin-left: auto;
    }

    #about-me-wrapper {
        width: 85vw;
    }
}

/*
    Small Screens
 */
@media screen and (max-width: 500px) {
    #img-header {
        width: 75%;
        height: 75%;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border-radius: 0;
    }

    #services {
        margin: 1rem;
    }
}
