// _color.scss

$blueberry: #355170;
$grape: #6e597a;
$grapefruit: #e66b70;
$peach: #eaad8c;
$light: #fff0e9;
$off-white: #fffafa;
$dark: #1b2939;
$light-text: #ffffff;
$muted-text: #3b3b3b;
$dark-text: #111111;

$shadow: #282828;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
