// _color.scss

//colors
$blueberry: #355170;
$bright-blue: #89c8e6;
// $grape: #6e597a;
$grape: #b4a8ca;
$grapefruit: #e66b70;
$peach: #eaad8c;
$light: #fff0e9;
$sage: #a6c9b8;
$off-white: #fffafa;
$dark: #1b2939;
$light-text: #ffffff;
$muted-text: #3b3b3b;
$dark-text: #111111;
$grey: #ededed;
$light-blue: #93bcd6;
$medium-purple: #b6a2c6;

// hero
$hero-bg-color: $grey;
$hero-bg-gradient: linear-gradient(45deg, $hero-bg-color 60%, $light-blue 100%);
$hero-text-color: $blueberry;
$hero-subtext-color: $light-blue;

// shadows
$shadow: #282828;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;

// cards
$card-border-radius: 5px;
$card-border-radius-hover: 8px;

// button
$button-border-radius: 5px;

// transitions
$transition-curve-speed: ease-in-out 250ms;
