@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");
/*
    Global
 */
* {
  margin: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

/*HTML ELEMENT STYLING*/
body {
  background-color: #fffafa;
  font-family: "Nunito", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6e597a;
  background: #6e597a;
}

header h1 {
  color: #e66b70;
}

figure {
  font-size: 0.9rem;
  font-weight: bold;
}

form {
  background-color: #6e597a;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

form h3 {
  color: #ffffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  height: 5rem;
  width: 100vw;
  background-color: #355170;
  color: #ffffff;
}

footer svg {
  fill: #e66b70;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer svg:hover,
svg:focus {
  fill: #fffafa;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crafty Girls", cursive;
  color: #111111;
  font-weight: 500;
  line-height: 1;
}

p {
  line-height: 1.6;
  font-size: 1rem;
  color: #3b3b3b;
  width: 80%;
}

p a {
  line-height: 1.6;
  font-size: 1rem;
  color: #e66b70;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

p a:hover {
  color: #355170;
  text-decoration: none;
}

aside {
  font-size: 1rem;
  color: #355170;
}

aside svg {
  fill: #355170;
}

nav {
  background-color: #fffafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  margin-bottom: 3rem;
}

.navbar {
  background-color: #355170;
}

.calculator-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

/*SECTION STYLING*/
#img-header {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 30%;
}

#about-me {
  background-color: #fffafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  border-radius: 10px;
}

.gallery-section {
  background-color: #355170;
}

.gallery-heading {
  color: #ffffff;
}

#gallery {
  background-color: #355170;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100vw;
}

#gallery img {
  border-radius: 15px;
  padding: 0.75rem;
  max-width: 100%;
  max-height: 100%;
}

#services {
  background-color: #fffafa;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

#services-tools img {
  border-radius: 10px;
}

#links-container {
  background-color: #355170;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

#links-container svg {
  fill: white;
  width: 96px;
  height: 96px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

#ravelry-logo {
  width: 12rem;
  height: auto;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

#etsy-logo {
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

#etsy-logo:hover,
#ravelry-logo:hover,
#links-container svg:hover {
  -webkit-transform: translateY(-1.5px) scale(1.05);
          transform: translateY(-1.5px) scale(1.05);
  fill: #e66b70;
}

#links-description {
  color: #ffffff;
}

/*COMPONENT STYLING*/
.hero {
  background: linear-gradient(45deg, #ededed 60%, #93bcd6 100%);
  width: 100vw;
  max-width: 100vw;
  height: 70vh;
  position: relative;
}

.hero img {
  position: absolute;
  top: 0%;
  left: 0%;
  translate: transform(-50%, -50%);
  width: 40%;
  height: auto;
}

.hero__text {
  position: absolute;
  font-family: "Nunito";
  font-size: 10vh;
  font-weight: bold;
  line-height: 1;
  top: 45%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #355170;
}

.hero__subtext {
  position: absolute;
  top: 60%;
  left: 40%;
  font-family: "Nunito";
  font-size: 3vh;
  line-height: 1;
  text-transform: uppercase;
  max-width: 100%;
  color: #93bcd6;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 50vh;
  }
  .hero img {
    top: -10%;
  }
  .hero__text {
    font-size: 7vh;
    top: 45%;
  }
  .hero__subtext {
    font-size: 2vh;
    top: 60%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 40vh;
  }
  .hero__text {
    font-size: 7vh;
    top: 45%;
  }
  .hero__subtext {
    font-size: 2vh;
    top: 65%;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    height: 80vh;
  }
  .hero img {
    top: 0;
    width: 100%;
  }
  .hero__text {
    font-size: 5vh;
    top: 75%;
    left: 50%;
  }
  .hero__subtext {
    font-size: 3vh;
    top: 82%;
    left: 25%;
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  .hero {
    height: 70vh;
  }
  .hero img {
    top: 0;
    width: 100%;
  }
  .hero__text {
    font-size: 4vh;
    top: 75%;
    left: 50%;
  }
  .hero__subtext {
    font-size: 2.5vh;
    top: 82%;
    left: 25%;
    width: 60%;
  }
}

#btn-send {
  background-color: #e66b70;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

#btn-send:hover {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}

#btn-calc {
  background-color: #e66b70;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

#btn-calc:hover {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}

#yardage-used {
  background-color: #fffafa;
  background: #fffafa;
  color: #3b3b3b;
}

#contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6e597a;
}

#contact {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1rem;
}

#menu-descriptor {
  color: #111111;
  margin-left: 10px;
}

.g-recaptcha {
  transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform: scale(0.77);
  -webkit-transform-origin: 0 0;
}

/*
    Large Screens
 */
@media screen and (min-width: 900px) {
  #contact {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  #gallery {
    max-width: 100vw;
  }
  #about-me-wrapper {
    width: 85vw;
  }
}

/*
    Small Screens
 */
@media screen and (max-width: 500px) {
  #img-header {
    width: 75%;
    height: 75%;
  }
  #gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(125px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  #services {
    margin: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */