:root {
    /*colors from graphic designer*/
    --blueberry: #355170;
    --grape: #6E597A;
    --grapefruit: #E66B70;
    --peach: #eaad8c;
    --light: #ffdbcc;
    --dark: #1b2939;
    --light-text: #ffffff;
    --dark-text: #000000;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--light);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grape);
}

figure {
    font-size: 0.9rem;
    font-weight: bold;
}

#img-navbar {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25%;
}

#links-container {
    background-color: var(--peach);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}


.navbar {
    background-color: var(--blueberry);
}