// /* Bring in Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap");

@import "./variables";
@import "./utilities";

/*
    Global
 */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 100vw;
}

/*HTML ELEMENT STYLING*/
body {
  background-color: $off-white;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $grape;
  background: $grape;
}

header h1 {
  color: $grapefruit;
}

figure {
  font-size: 0.9rem;
  font-weight: bold;
}

form {
  background-color: $grape;
  color: $light-text;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

form h3 {
  color: $light-text;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 5rem;
  width: 100vw;
  background-color: $blueberry;
  color: $light-text;
}

footer svg {
  fill: $grapefruit;
  transition: all 300ms ease-in-out;
}

footer svg:hover,
svg:focus {
  fill: $off-white;
  transform: translateY(-1.5px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crafty Girls", cursive;
  color: $dark-text;
  font-weight: 500;
  line-height: 1;
}

p {
  line-height: 1.6;
  font-size: 1rem;
  color: $muted-text;
  width: 80%;
}

p a {
  line-height: 1.6;
  font-size: 1rem;
  color: $grapefruit;
  transition: color 250ms ease-in-out;
}

p a:hover {
  color: $blueberry;
  text-decoration: none;
}

aside {
  font-size: 1rem;
  color: $blueberry;
}

aside svg {
  fill: $blueberry;
}

nav {
  background-color: $off-white;
  box-shadow: $box-shadow;
  margin-bottom: 3rem;
}

.navbar {
  background-color: $blueberry;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/*SECTION STYLING*/

#img-header {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 30%;
}

#about-me {
  background-color: $off-white;
  box-shadow: $box-shadow;
  border-radius: 10px;
}

.gallery-section {
  background-color: $blueberry;
}

.gallery-heading {
  color: $light-text;
}

#gallery {
  background-color: $blueberry;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

#gallery img {
  border-radius: 15px;
  padding: 0.75rem;
  max-width: 100%;
  max-height: 100%;
}

#services {
  background-color: $off-white;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

#services-tools img {
  border-radius: 10px;
}

#links-container {
  background-color: $blueberry;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: $box-shadow;
}

#links-container svg {
  fill: white;
  width: 96px;
  height: 96px;
  transition: all ease-in-out 250ms;
}

#ravelry-logo {
  width: 12rem;
  height: auto;
  transition: transform ease-in-out 250ms;
}

#etsy-logo {
  transition: transform ease-in-out 250ms;
}

#etsy-logo:hover,
#ravelry-logo:hover,
#links-container svg:hover {
  transform: translateY(-1.5px) scale(1.05);
  fill: $grapefruit;
}

#links-description {
  color: $light-text;
}

/*COMPONENT STYLING*/

.hero {
  background: $hero-bg-gradient;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100vw;
  height: 70vh;
  padding: 20rem 0 !important;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  &__text {
    font-family: "Nunito";
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: $hero-text-color;
    max-width: 100%;
  }

  &__subtext {
    font-family: "Nunito";
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    width: 90%;
    color: $hero-subtext-color;
  }
  @media screen and (min-width: 1441px) {
    &__text {
      font-size: 6rem;
      width: 80%;
    }

    &__subtext {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 1024px) {
    &__text {
      font-size: 4rem;
    }

    &__subtext {
      font-size: 2rem;
      width: 75%;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 0 !important;

    img {
      width: 100%;
    }

    &__text {
      font-size: 3rem;
    }

    &__subtext {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 425px) {
    padding: 5rem 0;

    &__content {
      align-items: center;
      justify-content: center;
    }

    &__text {
      font-size: 2.5rem;
      width: 60%;
    }

    &__subtext {
      font-size: 1rem;
      width: 40%;
      padding-bottom: 4rem;
    }
  }

  @media screen and (max-width: 375px) {
    &__text {
      font-size: 2.5rem;
      width: 100%;
      text-align: center;
    }

    &__subtext {
      font-size: 1rem;
      width: 60%;
      text-align: center;
      padding-bottom: 1.5rem;
    }
  }
}

.announcements {
  border-left: 0.5rem solid $blueberry;
  &__countdown {
    width: 100%;
    background-color: $grapefruit;
    border-radius: 10px;
    box-shadow: $box-shadow;

    p,
    span {
      width: 100%;
      color: $light-text;
      font-family: "Nunito";
      font-size: 1.2rem;
      padding: 2rem 0;
      text-align: center;
    }
  }

  &__body {
    max-width: 100%;
  }

  &__img-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 30%;
      height: auto;
    }
  }

  @media screen and (min-width: 769px) {
    p,
    span {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    border-left: none;
    p,
    span {
      font-size: 0.9rem;
    }
  }
}

#etsy-link,
#ravelry-link {
  visibility: hidden;
  display: block;
  margin: 0 auto;
  color: $grapefruit;

  &:hover {
    color: $blueberry;
    text-decoration: none;
    transition: color 250ms ease-in-out;
  }
}

#btn-send {
  background-color: $grapefruit;
  color: $light-text;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: $box-shadow;
  transition: transform ease-in-out 300ms;
}

#btn-send:hover {
  transform: translateY(-0.15rem);
}

#btn-calc {
  background-color: $grapefruit;
  color: $light-text;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: $box-shadow;
  transition: transform ease-in-out 300ms;
}

#btn-calc:hover {
  transform: translateY(-0.15rem);
}

#yardage-used {
  background-color: $off-white;
  background: $off-white;
  color: $muted-text;
}

#contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $grape;
}

#contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  padding: 1rem;
}

#menu-descriptor {
  color: $dark-text;
  margin-left: 10px;
}

.g-recaptcha {
  transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform: scale(0.77);
  -webkit-transform-origin: 0 0;
}

/*
    Large Screens
 */
@media screen and (min-width: 900px) {
  #contact {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  #gallery {
    max-width: 100vw;
  }

  #about-me-wrapper {
    width: 85vw;
  }
}

/*
    Small Screens
 */
@media screen and (max-width: 500px) {
  #img-header {
    width: 75%;
    height: 75%;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  #services {
    margin: 1rem;
  }
}
