:root {
    /*colors from graphic designer*/
    --blueberry: #355170;
    --grape: #6E597A;
    --grapefruit: #E66B70;
    --peach: #eaad8c;
    --light: #fff0e9;
    --dark: #1b2939;
    --light-text: #ffffff;
    --dark-text: #000000;
    --shadow: #282828;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--light);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grape);
}
figure {
    font-size: 0.9rem;
    font-weight: bold;
}

form {
    background-color: var(--grape);
    color: var(--light-text);
    font-weight: bold;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#img-header {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25%;
}

#gallery img {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#links-container {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#btn-send {
    background-color: var(--grapefruit);
    color: var(--light-text);
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow);
}


.navbar {
    background-color: var(--blueberry);
}