:root {
    --main-text-color: #ffffff;
    --bg-color: #393939;
    --highlight-text-color: #00ffb7;
    --border-color: #9a9a9a;
}

body {
    display: grid;
    grid-template-areas:
            "header header header"
            "side content side"
            "footer footer footer";
    gap: 2rem;
    align-items: center;
    justify-items: center;
    background: linear-gradient(45deg, #ffc200, #cae664, #00ffb7) no-repeat fixed;
    height: 100vh;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    color: var(--main-text-color);
    grid-area: header;
    text-align: center;
    margin: 0;
    font-size: 3rem;
    background-color: var(--bg-color);
    padding: 1em;
}

header h1 {
    margin: 0 auto 0 auto;
    padding: 0.5em;
    color: var(--highlight-text-color);
}

.content {
    grid-area: content;
    color: var(--main-text-color);
    background-color: var(--bg-color);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
}

.content ul {
    padding: 0.5em;
}

.content:hover {
    box-shadow: #282828 5px 5px 20px;
}

.content h1, h2, h3, h4, h5, h6 {
    color: var(--highlight-text-color);
}

.purpose-audience-goal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    opacity: 0.6;
    transition: opacity 300ms ease-in-out;
    border-bottom: 0 solid var(--border-color);
    border-top: 0 solid var(--border-color);
    padding: 1em;
}

.purpose-audience-goal:hover {
    opacity: 1;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    padding: 1em;
}

.persona {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    opacity: 0.6;
    border-bottom: 0 solid var(--border-color);
    border-top: 0 solid var(--border-color);
    transition: opacity 300ms ease-in-out;
    padding: 1em;
}

.persona:hover {
    opacity: 1;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    padding: 1em;
}

#img-persona {
    height: 50%;
    width: 50%;
}